@import url('http://font.googleapis.com/css2? family=Poopins:weight@200;400display=swap');


:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;

}
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary-color); 
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
  }
 
  .search{
    background-color: transparent;
    border: 5px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: black;
  }
  .search::placeholder{
    color: #7378c5;
  }
  .search:focus{
    outline: none;
    background-color: var(--primary-color) ;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  .Movies {
    width: 275px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }

  .Movies img {
    width: 95%;
  }

  .smovie-info {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
  }

  .movie-info h3 {
    margin-top: 0;
  }

  .overview {
    background-color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in
    }

  .Movies:hover .overview {
    transform: translateY(0)
  }